*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    text-decoration: none;
    font-size: 16px;
}

#content{
    display: flex;
    flex-direction: column;
}

/* Header styling */

header{
    height: 12vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

header div{
    display: flex;
    justify-content: center;
    align-items: center;
}

header div a{
    margin: 0 5px;
    text-transform: uppercase;
    color: grey;
    font-size: 0.9rem;
    
}

header a span{
    color: #51758c;
    font-weight: bold;
}

header #small_logo{
    display: none;
}

#logos{
    margin-right: 40px;
}

#contact a:nth-child(2){
    margin-right: 30px;
}

#social_media{
    margin-left: 80px;
}

/* Navbar styling */

nav{

    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f28b20;
    z-index: 30;
    
}

nav #social_media{
    display: none;
}

#main_menu{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#main_menu li{
    float: left;
    position: relative;
    
}

#main_menu > li > a{
    font-size: 1rem;
    color: white;
    padding: 20.4px 18px;
    white-space: nowrap;
    overflow: hidden;
    
}

#main_menu > li:hover > a{
    background: #51758c;
    padding: 32.5px 18px;
}

#main_menu > li:hover > a::before{
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 12px 10.5px 0 0;
    border-color: transparent #2a485c transparent transparent;  
    display: inline-block;
    margin-right: 5px;
    position: absolute;
    left: -10px;
    top: -32.5px;
}

#main_menu li .inner_menu{
    display: none;
    position: absolute;
    background: #2a485c;
    margin-top: 25px;
}

.inner_menu li{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_menu li a{
    font-size: 1rem;
    padding: 12px 18px;
    width: auto;
    color:white;
    white-space: wrap;
    width: 170px;
}

.inner_menu li a:hover{
    text-decoration: underline 2px white;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
}


/* Search-btn/menu styling */


#search_icon{
    margin-left: 130px;
    margin-right: 5px;
    height: 35px;
    width: 35px;
}

#search_icon:hover{
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin-left: 127.5px;  /* Obraz zostaje powiększony o 5px więc odejmuje margines po 2.5 px z każdej strony aby animacja powiększenia była bardziej estetyczna */
    margin-right: 2.5px;
}

#search-input-wrapper{
    padding: 0 50px;
    width: 100%;
    height: 60px;
    background: #cc6601;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 30;

}

#search-input{
    height: 60px;
    width: 70%;
    max-width: 1000px;
    display: flex;
    justify-content:space-between;
    align-items: center;

}

div#search-input button{
    position: relative;
    cursor: pointer;
    height: 35px;
    width: 35px;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

div#search-input button img{
    height: 35px;
    width: 35px;
    margin: 5px;
}

div#search-input button img:hover{
    height: 40px;
    width: 40px;
    margin: 2.5px;
}

#search-input input{
    width: 80%;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    outline: none;
    color: white;
    position: relative;
}

#search-input input::placeholder{
    color: white;
}



/* Slider styling */ 

.slide_container{
    position: relative;
    height: 353px;
    width: 100%;
    display: flex;
    
}

#slide-1{
    background: url("../images_content/slider1.png"), no-repeat;
    background-size: cover;
    background-position: center center;
    
}

#slide-2{
    background: url("../images_content/slider2.png"), no-repeat;
    background-size: cover;
    background-position: center center;
}

#slide-3{
    background: url("../images_content/slider3.png"), no-repeat;
    background-size: cover;
    background-position: center center;
}

.slide{
    width: 100%;
    height: 353px;
    background-position: center;
    position: relative;
    
    
}

.content{
    height: 353px;
    width: 420px; 
    margin: 0 20px;
    left: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
  
}

.content h2{
    margin-top: 35px;
    color: white;
    font-size: 1.3rem;
}

.content p{
    margin-top: 40px;
    padding: 10px 15px;
    color: rgb(75, 75, 75);
    background: rgba(255, 255, 255, 0.6);
    line-height: 1.5em;
}

.content button{
    margin-top: 15px;
    padding: 10px 30px;
    color: white;
    border: none;
    cursor: pointer;
}

.content button:hover{
    transform: translateY(-3px);
    transition: 0.4s;
}

.content button:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

#btn1{
    background: #51758c;
}

#btn2{
    background: #f28b20;
}

#btn3{
    background: #35b28d;
}

.arrow{
    position: absolute;
    cursor: pointer;
    z-index: 20; 
    height: 100%;
    width: 70px;
    
}

.arrow:hover{
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 5px 5px rgb(255, 255, 255, 0.25);
    transition: 0.3s;
}

.arrow i{
    position: absolute;
    color: white;
    font-size: 50px;    
    top: 50%;
    transform: translateY(-50%);
    
}

.left{
    top: 0;
    left:0;
}

.right{
    top: 0;
    right:0;
}
.left i{
    left: 0px;
    padding-left: 25px;
}

.right i{
    right: 0px;
    padding-right: 25px;
}
/* Bottom content styling */


#bottom_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

#bottom_container h3{
    text-transform: uppercase;
    margin-top: 30px;
    color: #51758c;
}

#box{
    display: flex;
    margin-top: 30px;
}

.inner_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
}

.inner_box a{
    text-transform: uppercase;
    margin: 5px;
    color: #51758c;
}

.inner_box a:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_box img{
    margin: 5px;
}

#box .inner_box:last-child a:last-child{
 padding-left: 20px;   
}

#box .inner_box:last-child a:last-child img{
    padding-right: 10px;
}

@media only screen and (min-width: 601px) {
    #main_menu li:hover .inner_menu {
        display: block;
    }

}

/********************************** Media 1 *************************************/

@media only screen and (max-width: 910px) {
    

    /* Header styling */
    header #logo{
        display: none;
    }
    
    header #small_logo{
        display: block;
    }
    
    header{
        height: 15vh;
        flex-wrap:wrap;
    }

    #social_media{
        width: 100%;
        justify-content:end;
        margin: 0;
    }
    /* Search btn/menu */

    #search-input-wrapper{
        padding: 0 20px;
    }

    #search-input{
        width: 100%;
    }

    /* Navbar styling */

    #search_icon{
        margin-left: 30px;
        margin-right: 5px;
    }
    
    #search_icon:hover{
        margin-left: 27.5px;  /* Obraz zostaje powiększony o 5px więc odejmuje margines po 2.5 px z każdej strony aby animacja powiększenia była bardziej estetyczna */
        margin-right: 2.5px;
    }

    #main_menu > li:hover > a::before{
        border-width: 12.5px 10.5px 0 0;
        left: -10px;
        top: -32.5px;
    }
    
    /* Slider styling */

    .content{
        left: 10%;
    }    
}



/********************************** Media 2 *************************************/

@media only screen and (max-width: 768px){
    
    
    
    /* Navbar styling */
    #main_menu > li > a{
        font-size: 1rem;
        color: white;
        padding: 20.4px 12px;
        white-space: nowrap;
        overflow: hidden;
        
    }

    #main_menu > li:hover > a{
        background: #51758c;
        padding: 30px 12px;
    }


    /* Bottom content styling */
    #box{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    #main_menu > li:hover > a::before{
        border-width: 10px 10.5px 0 0;
        left: -10px;
        top: -30px;
    }
}


/********************************** Media 3 *************************************/

@media only screen and (max-width: 700px){
   
    /* Header styling */

    header{
        height: 10vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }

    #logos {
        margin-right: 0;
    }

    #contact .text{
    display: none;
    }

    #social_media{
        width: auto;
    }
    

   /* Navbar styling */

   #main_menu > li > a{
        font-size: 0.8rem;
    }

    #search_icon{
        margin-left: 20px;
        margin-right: 5px;
    }
    
    #search_icon:hover{
        margin-left: 17.5px;  /* Obraz zostaje powiększony o 5px więc odejmuje margines po 2.5 px z każdej strony aby animacja powiększenia była bardziej estetyczna */
        margin-right: 2.5px;
    }

    #main_menu > li:hover > a::before{
        border-width: 7px 10px 0 0;
        left: -10px;
        top: -26.5px;
    }

    #main_menu li .inner_menu{
        display: none;
        position: absolute;
        background: #2a485c;
    }
}


/********************************** Media 4 *************************************/

@media only screen and (max-width: 600px){

    /* Header styling */

    #social_media{
        display: none;
    }

    nav #social_media{
        display: block;
        margin-left: 20px ;
    }


    /* Navbar styling */

    nav{
        justify-content: center;
    }


    .hamburger{
        display: block;
        margin-right: 20px;
    }

    #search_icon{
        margin-left: 150px;
        margin-right: 10px;
        height: 35px;
        width: 35px;
    }
    
    #search_icon:hover{
        cursor: pointer;
        height: 40px;
        width: 40px;
        margin-left: 147.5px;  /* Obraz zostaje powiększony o 5px więc odejmuje margines po 2.5 px z każdej strony aby animacja powiększenia była bardziej estetyczna */
        margin-right: 7.5px;
    }
    

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }


    #main_menu > li{
        margin: 10px 0;
        width: 100%;
    }

    #main_menu > li > a{
        font-size: 1rem;
        color: white;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        padding-left: 10%;
        
    }

    #main_menu > li:hover > a{
        background: none;
        padding-left: 10%;
    }

    #main_menu > li:hover > a::before{
        display: none;
        
    }

    #main_menu{
        display: none;
        position: absolute;
        top: 0;
        justify-content:flex-start;
        flex-direction: column;
        align-items: flex-start;
        background-color: #51758c;
        width: 270px;
        height: 100%;
        border-left: #2a485c solid 1.5px;
    }

    #main_menu.active{
        display: flex;
        right: -270px;
            
    }


    #main_menu li .inner_menu{
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        background: #2a485c;
        margin-top: 10px;
        padding-left: 10%;
    }

    #main_menu li .inner_menu.active{
        display: flex;
    }
    
    #main_menu li .plus .cross2.active{
        display: none;
    }


    .inner_menu li{
        margin:10px 0;
    }

    .inner_menu li a{
        font-size: 1rem;
        padding: 0;
        width: auto;
        color:white;
        white-space: nowrap;
    }
    
    .inner_menu li a:hover{
        text-decoration: none;
    }
    

    .cross1,
    .cross2 {
        display: block;
        width: 10px;
        height: 1px;
        margin: 3.5px 0;
        transition: all 0.3s ease-in-out;
        background: white;
    }

    .plus .cross2 {
        transform:translateY(-4px) rotate(90deg);
    }

    .plus{
        display: inline-block;
        position: absolute;
        top: 5px;
        left: 200px;
        cursor: pointer;
    }

    #content.active{
        transform: translateX(-250px);
    }

    /* Slider styling */

    .content{
        height: 353px;
        width: 75%; 
        position: relative;
        left:70px;
        margin: 0;
      
    }

    .content h2{
        margin-top: 25px;
        color: white;
        font-size: 1.2rem;
        text-align: center;
    }
    
    .content p{
        margin-top: 40px;
        padding: 10px 5px;
        color: rgb(75, 75, 75);
        background: rgba(255, 255, 255, 0.6);
        line-height: 1.2em;
        text-align: center;
        
    }

    .content button{
        margin-top: 25px;
        padding: 20px 10px;
        color: white;
        border: none;
        cursor: pointer;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        
    }
    
    .content button:hover{
        transform: translateY(-3px);
        transform: translateX(-50%);
        transition: 0.4s;
    }
    
    .content button:active {
        transform: translateY(1px);
        transform: translateX(-50%);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: 0.2s;
    }
}

/********************************** Media 5 *************************************/



@media only screen and (max-width: 500px) {

    /* Navbar styling */

    #search_icon{
        margin-left: 30%;
        margin-right: 10px;
        height: 35px;
        width: 35px;
    }
    
    #search_icon:hover{
        cursor: pointer;
        height: 40px;
        width: 40px;
        margin-left: calc(30% - 2.5px);  /* Obraz zostaje powiększony o 5px więc odejmuje margines po 2.5 px z każdej strony aby animacja powiększenia była bardziej estetyczna */
        margin-right: 7.5px;
    }

    /* Slider styling */

    .content{
        height: 353px;
        width: 100%; 
        position: relative;
        left:0px;
        margin: 0;
      
    }

    .arrow{
        cursor: pointer;
        z-index: 20; 
        height: 50px;
        width: 50px; 
        margin-top: 280px;
    }
    
    .arrow:hover{
        background: none;
        box-shadow: none;
    }
    
    .arrow i{

        color: white;
        font-size: 50px;    
        top: 50%;
        transform: translateY(-50%);
        
    }
    
    .left{
        bottom: 0;
        left:0;
    }
    
    .right{
        bottom: 0;
        right:0;
    }
    .left i{
        left: 0px;
        padding-left:10px;
    }
    
    .right i{
        right: 0px;
        padding-right: 10px;
    }

    .content button{
        white-space: nowrap;
    }

}


/********************************** Media 6 *************************************/
@media only screen and (max-width: 300px) {

    /* Header styling */

    #contact .text{
        display: none;
    }

    #social_media{
        display: none;
    }

    nav #social_media{
        display: block;
        margin-left: 20px ;
    }


    /* Navbar Styling */

    #search_icon{
        margin-left: 15%;
        margin-right: 10px;
        height: 35px;
        width: 35px;
    }
    
    #search_icon:hover{
        cursor: pointer;
        height: 40px;
        width: 40px;
        margin-left: calc(15% - 2.5px);;  /* Obraz zostaje powiększony o 5px więc odejmuje margines po 2.5 px z każdej strony aby animacja powiększenia była bardziej estetyczna */
        margin-right: 7.5px;
    }
    
    /* Slider styling */
    .content h2{
        margin-top: 20px;
        font-size: 1rem;
    }
    
    .content p{
        margin-top: 20px;
        padding: 10px 5px;
        font-size: 0.9rem;
    }

    .content button{
        margin-top: 25px;
        padding: 10px 10px;
    }


    #main_menu.active{
        display: flex;
        right: -230px;
            
    }

    #content.active{
        transform: translateX(-210px);
    }

    #main_menu{
        width: 240px;
    }


}

@media only screen and (max-width: 220px) {

    /* Navbar styling */

    #search_icon{
        margin-left: 5%;
        margin-right: 10px;
        height: 35px;
        width: 35px;
    }
    
    #search_icon:hover{
        cursor: pointer;
        height: 40px;
        width: 40px;
        margin-left: calc(5% - 2.5px);;  /* Obraz zostaje powiększony o 5px więc odejmuje margines po 2.5 px z każdej strony aby animacja powiększenia była bardziej estetyczna */
        margin-right: 7.5px;
    }


    /* Slider Styling */

    .content p{
        margin-bottom: 0;
    }

    .content button{
        margin-top: 0;
        padding: 10px 10px;
        font-size: 0.6rem;
        bottom: 35px;
    }

    /* Bottom content */

    #bottom_container h3{
        text-align: center;
    }


}
